<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Nft Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <button (click)="onOpenModal(nft, 'add')" class="nav-link">Add Nft</button>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchNft(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search nft..." required>
     </form>
  </div>
</nav>

<div class="container" id="main-container">
	<!-- product -->
	<div *ngFor="let nft of nfts" class="product-content product-wrap clearfix">
		<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image">
						<img src="{{ nft.imageUrl }}" alt="194x228" class="img-responsive">
						<span class="tag2 hot">
							{{ nft.status }}
						</span>
					</div>
				</div>
				<div class="col-md-7 col-sm-12 col-xs-12">
				<div class="product-deatil">
						<h5 class="name">
							<a href="#">
								{{ nft.name }} <span>{{ nft.nftCode }}</span>
							</a>
						</h5>
						<p class="price-container">
							<span>${{ nft.price.toFixed(2) }}</span>
						</p>
						<span class="tag1"></span>
				</div>
				<div class="description">
					<p>{{ nft.description }}</p>
				</div>
				<div class="product-info smart-form">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<button (click)="onOpenModal(nft, 'edit')" id="editBtn">Edit</button>
							<button (click)="onOpenModal(nft, 'delete')" id="deleteBtn">Delete</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end product -->
</div>

<div class="footer">
  <h2>Nft Manager</h2>
</div>

<!-- Add nft Modal -->
<div class="modal fade" id="addNftModal" tabindex="-1" role="dialog" aria-labelledby="addNftModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addNftModalLabel">Add Nft</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddNft(addForm)">
          <div class="form-group">
             <label for="name">Name</label>
             <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
             <label for="price">Price</label>
             <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
          </div>
          <div class="form-group">
             <label for="description">Description</label>
             <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Nft Description" required>
          </div>
          <div class="form-group">
             <label for="image">Image URL</label>
             <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <input type="text" ngModel name="status" class="form-control" id="status" placeholder="Status" required>
         </div>
          <div class="modal-footer">
             <button type="button" id="add-nft-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
          </div>
          </form>
       </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editNftModal" tabindex="-1" role="dialog" aria-labelledby="nftEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Nft {{ editNft?.name }}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Name</label>
                 <input ngModel="{{ editNft?.name }}" type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
              </div>
              <input ngModel="{{ editNft?.id }}" type="hidden" name="id" class="form-control" id="id" placeholder="Email">
              <input ngModel="{{ editNft?.nftCode }}" type="hidden" name="userCode" class="form-control" id="userCode" placeholder="Email">
              <div class="form-group">
                <label for="price">Price</label>
                <input ngModel="{{ editNft?.price }}" type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
             </div>
             <div class="form-group">
                <label for="description">Description</label>
                <input ngModel="{{ editNft?.description }}" type="text" ngModel name="description" class="form-control" id="description" placeholder="Nft Description" required>
             </div>
             <div class="form-group">
                <label for="image">Image URL</label>
                <input ngModel="{{ editNft?.imageUrl }}" type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
             </div>
             <div class="form-group">
               <label for="status">Status</label>
               <input ngModel="{{ editNft?.status }}" type="text" ngModel name="status" class="form-control" id="status" placeholder="Status" required>
            </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onEditNft(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteNftModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Nft</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete Nft {{ deleteNft?.name }}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteNft(deleteNft!.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="nfts?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
